<h1>Profile</h1>

<div style="width: 50px, heigh: auto">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, :style => "width: 50%" %>
  <% end %>
</div>

<h3>Name</h3>
<%= @user.name %>

<h3>Age</h3>
<%= @user.age %>

<h3>Email adress</h3>
<%= @user.email %> 
